[Unit]
Description=2ne1 session logger server for egg incubator
After=network.target
Requires=network.target

[Service]
Type=notify
User=pi
WorkingDirectory=/home/pi/hobby/egg-incubator/src
ExecStartPre=/bin/sleep 30
ExecStart=/home/pi/hobby/egg-incubator/src/session_logger/build/2ne1-session-logger
Environment=LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/lib
Restart=on-watchdog
WatchdogSec=60s
RestartSec=30s
NotifyAccess=all
StartLimitInterval=10min
StartLimitBurst=3
StartLimitAction=none

[Install]
WantedBy=default.target
